.wrapper {
    width: 100%;
    background-color: #f2f2f2;
    height: 100vh;
    padding: 0 9rem;
}


.container {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dash {
    width: calc(100% - 18rem);
    height: 15rem;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.dash img {
    width: 1920px;
    height: 1080px;
}

.profileInfo {
    display: flex;
    margin-top: 5rem;
    padding-left: 15rem;
    color: #6d6e71;
    justify-content: space-between;
}

.status {
    display: flex;
    margin-bottom: 0.5rem;
}

.status input {
    background-color: #f2f2f2;
}

.status div {
    border-bottom: 1px solid green;
}

h2 {
    margin-bottom: 1rem;
}

h2 svg {
    margin-right: 1rem;
}

.userActivity {
    margin-right: 2rem;
}

.userActivity h2 {
    font-weight: 600;
    font-size: 1.2rem;
}

.userAction {
    border-left: 1px solid #008000;
    padding-left: 1rem;
}

.userAction strong {
    color: #008000;
}

.userAction div {
    margin-top: 0.5rem;
}

.editProfileBtn {
    padding: 0.5rem 0.9rem 0.2rem 0.5rem;
    background-color: #cdddec;
    color: #314755;
    font-weight: 600;
    margin-top: 1rem;
}