.contentWrapper {
    width: 100%;
}

.container {
    padding: 0 9rem;
    display: flex;
}

.preloader{
    position: absolute;
    top: 40vh;
    left: 80vh;
}
.pageButtons{
    align-self: center;
}
.pageBtn{
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: #fff;
}
.selectedPage{
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: #4802d3;
    color: #fff;

}
.userCard {
    background-color: #4802d3;
    width: 18rem;
    height: 7rem;
    position: relative;
    margin-top: 3rem;
    padding: 3rem 0 0 8rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 3rem;
}

.photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden;
    position: absolute;
    top: -1.5rem;
    left: -0.3rem;
}

.photo img {
    width: 5rem;
}

.userFolow {
    display: flex;
    align-items: center;
}

.userFolow p {
    margin-left: 0.3rem;
}

.users {
    margin: 3rem 0 0 3rem;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #d0cfcf;
    display: flex;
    flex-direction: column;
}
