.contentWrapper {
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.messagesWindow {
    background-color: #fff;
    height: 90vh;
    width: 70%;
    display: flex;
    border: 1px solid #d0cfcf;
}

.users {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 1px solid #d0cfcf;
}

.usersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0.5rem;
    border-bottom: 1px solid #d0cfcf;
}

.userInfo {
    display: flex;
    padding: 0.5rem;
    border-top: none;
    border-bottom: 1px solid #d0cfcf;
}

.addPostPhoto img {
    width: 3rem;
}

.userWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0.3rem;
}

.someUser {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.userText {

}

.chat {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0cfcf;
    height: 5rem;
    padding: 0.5rem;
}

.chatUser {
    display: flex;
}

.userStatus {
    display: flex;
    flex-direction: column;
}
.messages{
    display: flex;
    flex-direction: column;
    height: 65%;
}
.textMessage{
    margin: 1rem;
}
.chatInput {
    background-color: #f3f5f7;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
textarea{
    background-color: #fff;
    border: 1px solid #d0cfcf;
    margin-right: 1rem;
}
.inputItems{
    display: flex;
    justify-content: center;
}
.chatIcons{
    display: flex;
    align-items: center;
    margin: 1rem 0 0 2rem;
}
.chatIcons svg{
    margin-right: 1rem;
}

.sendMessage {
    background-image: linear-gradient(to right, #DC2424 0%, #4A569D 51%, #DC2424 100%);
    padding: 1px 2rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 0.3rem;
    display: block;
}

.sendMessage:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}