.wrapper {
    width: 100%;
    display: flex;
    padding: 1rem 10rem;
}

.userProfile {
    background: linear-gradient(to bottom, #DC2424 0%, #4A569D 40%, #fff 100%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.profilePhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
}

.profilePhoto img {
    width: 150px;
    height: 250px;
}

.userName {
    font-weight: 600;
    color: #3e4a97;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.follows {
    display: flex;
}

.followsItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    color: #686868;
}

.count {
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(148, 156, 160, 0.08);
}

