.userInfo {
    display: flex;
    padding: 0.5rem;
    border-top: none;
    border-bottom: 1px solid #d0cfcf;
}

.addPostPhoto img {
    width: 3rem;
}

.userWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0.3rem;
}

.someUser {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.userText {

}
